.googleBtn{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content:center;
    align-items: flex-end;
    height: 250px;
    margin-bottom: 66vh;
    align-content: center;
    
}
.gogBtn{
    font-family: 'Courier New', Courier, monospace;
    font-size:large;
    color: black;
    margin: 15px;
    padding: 0;
border: none;
background: none;
    margin-top:1vh;
	border-radius:none;
    background-color:rgb(224, 244, 224);
    
    padding: 20px 60px;
    -webkit-box-shadow: -1px 0px 8px 1px rgba(0,0,0,0.18);
-moz-box-shadow: -1px 0px 8px 1px rgba(0,0,0,0.18);
box-shadow: -1px 0px 8px 1px rgba(0,0,0,0.18);

}